.Tilt {
  /*background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); /* w3c */
  /*background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);*/
  background: #FEAC5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}